<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- this connection string will need to be updated when used on other machines -->
    <add name="test" connectionString="server=ZEKE-GPC-2016\SqlExpress;database=AdventureWorks;integrated security=true;" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>